body {background: gray;
      margin-left: 5%;
      background-image: url("images/hotwheels.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 50%;
      background-position: center;filter: contrast(1);
    }
h1 {color: Red;
    text-shadow: 2px 2px 7px black}
img {box-shadow: 5px 5px 5px 5px black }
* {font-family: arial, verdana }
#agenda {padding: 10px;
         border: 2px solid black;
         width: 200px;
         font-weight: bold;
     }
#things {padding: 10px;
         border: 2px solid black;
         width: 300px;
         font-weight: bold;}
.footer, .push {
         	height: 155px; /* .push must be the same height as .footer */
         }
